@import url("https://fonts.googleapis.com/css?family=Imprima");

body {
  background-color: transparent !important;
  font-family: "Imprima";
  overflow: hidden;
}

yt-live-chat-renderer {
  background-color: transparent;
}

yt-live-chat-header-renderer,
yt-live-chat-ticker-renderer,
yt-live-chat-message-input-renderer,
yt-reaction-control-panel-overlay-view-model,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-banner-manager {
  display: none !important;
}

yt-live-chat-text-message-renderer {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer * {
  text-shadow: -2px -2px #000000, -2px -1px #000000, -2px 0px #000000, -2px 1px #000000,
    -2px 2px #000000, -1px -2px #000000, -1px -1px #000000, -1px 0px #000000, -1px 1px #000000,
    -1px 2px #000000, 0px -2px #000000, 0px -1px #000000, 0px 0px #000000, 0px 1px #000000,
    0px 2px #000000, 1px -2px #000000, 1px -1px #000000, 1px 0px #000000, 1px 1px #000000,
    1px 2px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0px #000000, 2px 1px #000000,
    2px 2px #000000;
  font-size: 18px !important;
  line-height: normal !important;
}

yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
  color: #ffffff !important;
  font-size: 18px !important;
  line-height: normal !important;
  letter-spacing: normal !important;
}

yt-live-chat-text-message-renderer #author-name {
  color: #cccccc;
  font-size: 20px !important;
  line-height: 20px !important;
  background-color: tranparent !important;
}

yt-live-chat-text-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
  color: #ffd600 !important;
  background-color: transparent !important;
  padding: 0;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: #5e84f1 !important;
}

yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
  color: #0f9d58 !important;
}

yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}
