@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --owner-background-color: #f87171;
  /*color*/
  --moderator-background-color: #60a5fa;
  /*color*/
  --membership-background-color: #10b981;
  /*color*/
  --normal-background-color: #f8f4ec;
  /*color*/
  --owner-name-color: #ffffff;
  /*color*/
  --moderator-name-color: #ffffff;
  /*color*/
  --membership-name-color: #ffffff;
  /*color*/
  --normal-name-color: #000000;
  /*color*/
  --message-text-color: #ffffff;
  /*color*/
  --message-text-shadow: none;
  /*select || [True]rgba(0,0,0,0.5) 0px 2px 5px || [False]none */
  --donate-text: "Just donated";
  /*text*/
}

body {
  background-color: transparent !important;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

yt-live-chat-renderer {
  background-color: transparent;
}

yt-live-chat-header-renderer,
yt-live-chat-ticker-renderer,
yt-live-chat-message-input-renderer,
yt-reaction-control-panel-overlay-view-model,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer,
#lower-bumper,
yt-button-renderer,
yt-live-chat-banner-manager {
  display: none !important;
}

yt-live-chat-text-message-renderer {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer * {
  font-size: 18px !important;
  line-height: normal !important;
}

yt-live-chat-text-message-renderer #author-photo {
  display: none !important;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip {
  width: fit-content;
  position: relative;
}

yt-live-chat-text-message-renderer #author-name {
  --padding: 15px 15px;
  overflow: hidden;
  border-radius: 10px !important;
  background-color: var(--normal-background-color);
  padding-inline: var(--padding) !important;
  color: var(--normal-name-color) !important;
  font-size: 12px !important;
  font-weight: bold;
  line-height: 2 !important;
}

yt-live-chat-text-message-renderer #content {
  display: flex;
}

yt-live-chat-text-message-renderer #message {
  text-shadow: var(--message-text-shadow);
  color: var(--message-text-color) !important;
  font-weight: 500;
  font-size: 15px !important;
  margin-top: 3px;
}

yt-live-chat-text-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-text-message-renderer #author-name.owner {
  color: var(--owner-name-color) !important;
  padding: 0;
  background: transparent;
}

yt-live-chat-text-message-renderer #author-name.moderator {
  --padding: 15px 30px;
  color: var(--moderator-name-color) !important;
}

yt-live-chat-text-message-renderer #author-name.member {
  --padding: 15px 30px;
  color: var(--membership-name-color) !important;
}

yt-live-chat-text-message-renderer #chat-badges {
  position: absolute;
  right: 10px;
  scale: 0.7;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip #author-name.owner {
  background-color: var(--owner-background-color) !important;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip #author-name.moderator {
  background-color: var(--moderator-background-color) !important;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip #author-name.member {
  background-color: var(--membership-background-color) !important;
}

yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

ytd-sponsorships-live-chat-header-renderer #card,
yt-live-chat-membership-item-renderer #card,
yt-live-chat-paid-message-renderer #card {
  margin-block: 5px;
  box-shadow: none !important;
  overflow: visible !important;
}

ytd-sponsorships-live-chat-header-renderer #header,
yt-live-chat-membership-item-renderer #header,
yt-live-chat-paid-message-renderer #header {
  padding: 12px 30px !important;
  position: relative;
  border-radius: 10px !important;
  overflow: visible !important;
  box-shadow: none !important;
}

ytd-sponsorships-live-chat-header-renderer #header .rhs-image {
  display: none;
}

ytd-sponsorships-live-chat-header-renderer #header-subtext,
yt-live-chat-membership-item-renderer #header-subtext {
  font-size: 12px;
  margin: 0;
}

ytd-sponsorships-live-chat-header-renderer #author-photo,
yt-live-chat-membership-item-renderer #author-photo {
  --yt-img-border-radius: 10px !important;
  position: absolute;
  right: 20px;
  border-radius: 10px !important;
  border: 2px solid #fff;
  transform: rotate(10deg) scale(1.1);
  margin-top: -3%;
}

yt-live-chat-paid-message-renderer #author-photo {
  position: absolute;
  right: 25px;
  border-radius: 10px !important;
  border: 2px solid #fff;
  transform: rotate(10deg) scale(1.4);
  margin-top: -3%;
  z-index: 20 !important;
}

yt-live-chat-paid-message-renderer #header-content #single-line {
  flex-direction: column;
}

yt-live-chat-paid-message-renderer #author-name {
  color: #fff !important;
}

yt-live-chat-paid-message-renderer #content {
  padding-inline: 30px !important;
  padding-block: 0 10px !important;
  color: #fff !important;
}

yt-live-chat-paid-message-renderer #header-content #purchase-amount-column {
  padding: 0;
  display: flex;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

yt-live-chat-paid-message-renderer #header-content #single-line #purchase-amount-column::before {
  content: "" var(--donate-text) "\00a0";
}
